#header {
    margin-top: 20px;
}
h1 {
    color: #49708a;
    background-color: white;
    width:200px;
    font-size: 26px;
    height: 40px;
    padding-top: 4px;


}
h1 span {
    color: #88abc2;
}
#logo {
    text-decoration: none;
    float: left;
}

h3 {
    float: left;
    color: #49708a;
    padding: 8px;
    margin-top: 1px;
    font-size: 20px;
}

#top-bar {
    background: #d0e0eb;

}


.stage {
    margin-top: 10px;
    /*padding: 5px 20px 20px 20px;*/
    /*border-right: 1px dashed #d1d1d1;*/
    width: 19%;
    float: left;


}
.stage ul {
    min-height: 400px;
}

.stage h2 {
    color: #49708a;
    margin-left: 10px;
}

.stage ul {
    clear: both;
}

.story p {
    padding: 5px;
}

.stories ul {
    padding: 0px;
    margin: 0px;
}

.stories li {
    list-style-type: none;
}

.drop {
    height: 20px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 150px;

}

footer a {
    display: block;
    padding: 3px;
    background: #d0e0eb;
}

footer a:hover{ background: #49708a; color: white;}

.nav-tabs { margin-top: 10px; }

/* STICKY NOTES */

.stories li.story a {
    font-family: 'Kaushan Script', cursive;
    font-size:24px;
    text-decoration:none;
    color: #262626;
    display:block;
    min-height: 5em;
    width: 70%;
    padding:1em;
    -moz-box-shadow:-8px -2px 19px rgba(33,33,33,1);
    -webkit-box-shadow: -2px 19px 7px rgba(33,33,33,.7);
    box-shadow: -2px 5px 19px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .3s linear;
    -o-transition:-o-transform .3s linear;
    -webkit-transition:-webkit-transform .3s linear;
    line-height: 24px;

}


.stage ul li.story a {
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -moz-transform:rotate(-3deg);
}
.stage ul li.story:nth-child(even) a {
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
}
.stage ul li.story:nth-child(3n) a {
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
}
.stage ul li.story:nth-child(5n) a {
    -o-transform:rotate(3deg);
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    position:relative;
    top:-10px;
}
.stage ul li.story a:hover,ul li.story a:focus{
    box-shadow:9px 11px 45px rgba(0,0,0,.7);
    -moz-box-shadow:9px 11px 45px rgba(0,0,0,.7);
    -webkit-box-shadow: 9px 11px 45px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
}