<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Scrum Board</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
	<script src="{{ STATIC_URL }}js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<div class="container-fluid">
    <div class="row-fluid" id="header">
        <div class="span12" id="top-bar">
            <a href="/" id="logo"><h1>Scrum<span>Board</span></h1></a>
            {% block top %}{% endblock %}
        </div>
    </div>

{% block content %}{% endblock %}
</div>
<footer>
    <a href="http://github.com/fatiherikli/scrumboard/" title="scrumboard" target="_blank">Scrumboard on Github</a>
    <a href="http://fatiherikli.com/" title="python - django developer" target="_blank">By Fatih Erikli</a>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.1.min.js"><\/script>')</script>
<script src="{{ STATIC_URL }}js/libs/jquery-ui-1.8.18.custom.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/backbone/underscore.js"></script>
<script src="{{ STATIC_URL }}js/libs/backbone/backbone.js"></script>
<script src="{{ STATIC_URL }}js/libs/backbone/backbone-tastypie.js"></script>
{#<script src="{{ STATIC_URL }}js/libs/backbone/backbone-localstorage.js"></script>#}
<script src="{{ STATIC_URL }}js/libs/bootstrap/transition.js"></script>
<script src="{{ STATIC_URL }}js/libs/bootstrap/collapse.js"></script>
<script src="{{ STATIC_URL }}js/libs/bootstrap/modal.js"></script>
<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Reenie+Beanie&amp;subset=latin' rel='stylesheet' type='text/css'>

<!-- backbone application -->
<script src="{{ STATIC_URL }}js/app/models.js"></script>
<script src="{{ STATIC_URL }}js/app/views.js"></script>
<script src="{{ STATIC_URL }}js/app/controllers.js"></script>

{% block javascripts %}
{% endblock %}
</body>
</html>