<?xml version="1.0"?>
<appSettings>

  <!-- (!) Application URL -->
  <!-- =================== -->
  <add key="applicationMainUrl" value="http://en.wikipedia.org/"/>

  <!-- WebDriver Settings -->
  <!--==== Remote or Local? -->
  <add key="swdIsRemote" value="false"/>

  <!--<add key="swdIsRemote" value="true"/>-->
  <add key="swdRemoteUrl" value="http://127.0.0.1:4444/wd/hub"/>

  <!--==== Browser Name-->
  <!--<add key="swdBrowserType" value="Firefox"/>-->
  <!--<add key="swdBrowserType" value="InternetExplorer"/>-->
  <add key="swdBrowserType" value="Chrome"/>
  <!--<add key="swdBrowserType" value="PhantomJS"/>-->
  <!--<add key="swdBrowserType" value="HtmlUnit"/>-->
  <!--<add key="swdBrowserType" value="HtmlUnitWithJavaScript"/>-->
  <!--<add key="swdBrowserType" value="Opera"/>-->
  <!--<add key="swdBrowserType" value="Safari"/>-->
  <!--<add key="swdBrowserType" value="IPhone"/>-->
  <!--<add key="swdBrowserType" value="IPad"/>-->
  <!--<add key="swdBrowserType" value="Android"/>-->

  <!-- Application Default Settings -->
  <!-- ============================ -->
  <add key="setting1" value="value1"/>

</appSettings>