{% extends 'base.html' %}

{% block javascripts %}
    <script>
        new AppRouter();
        Backbone.history.start({pushState: true});
        
        if (Backbone.history && Backbone.history._hasPushState) {
            $(document).delegate("a", "click", function(evt) {
                var href = $(this).attr("href");
                var protocol = this.protocol + "//";
                if (href.slice(protocol.length) !== protocol) {
                    evt.preventDefault();
                    Backbone.history.navigate(href, true);
                }
            });
        }
        
    </script>
{% endblock %}

{% block top %}
    <div id="board-info">
        <h3 id="board-title"></h3>
        <div style="float:right; padding:4px 10px 0px 2px;">
            <a class="destroy" href="javascript:void 0">Delete</a> <br>
            <a class="change" href="javascript:void 0">Change</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="select-board">
        <a style="float:right; margin-top:4px; margin-bottom:3px;" class="btn new" 
        href="javascript:void 0">Add Board</a>
         <ul class="nav nav-tabs"></ul>
    </div>
    <div class="row-fluid" id="app">
        <div id="stages"></div>
    </div>
    <div class="modal hide" id="story-form"></div>
    <script type="text/template" id="StoryForm">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h2>Modal header</h2>
        </div>
        <div class="modal-body">
            <form action="#">
                <label>Description</label>
                <textarea name="description" id="description" cols="60" rows="5"></textarea>
                <label>Color</label>
                <select name="color" id="color">
                    <option value="#b3ff20">Green</option>
                    <option value="#ff5382">Pink</option>
                    <option value="yellow">Yellow</option>
                    <option value="#76e9ff">Blue</option>
                    <option value="#ffb618">Orange</option>
                </select>
            </form>
        </div>
        <div class="modal-footer">
            <a href="javascript: void 0" class="btn save btn-primary">Save changes</a>        
        </div>
    </script>

    <script type="text/template" id="BoardItemTemplate">
        <a href="/board/<%= item.id %>"><%= item.title %></a>
    </script>

    <script type="text/template" id="StageTemplate">
        <h2><%= title %></h2>
        <div class="stories"></div>
    </script>

    <script type="text/template" id="StoryTemplate">
        <a class="description" href="javascript: void 0" style="background-color:<%=color%>">
            <%= description %>
        </a>
    </script>

{% endblock %}